SanAnd_05024_18038_006_180730_L090_CX_129_03.h5 filter=lfs diff=lfs merge=lfs -text
SanAnd_05024_18038_006_180730_L090_CX_138_03.h5 filter=lfs diff=lfs merge=lfs -text
SanAnd_05024_18038_006_180730_L090_CX_143_03.h5 filter=lfs diff=lfs merge=lfs -text
winnip_09002_12055_006_120703_L090_CX_129_02.h5 filter=lfs diff=lfs merge=lfs -text
test_data/*.h5 filter=lfs diff=lfs merge=lfs -text
test_data/time_spacing2.h5 filter=lfs diff=lfs merge=lfs -text
test_data/identification8.h5 filter=lfs diff=lfs merge=lfs -text
test_data/nan2.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase1.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase3.h5 filter=lfs diff=lfs merge=lfs -text
test_data/time_spacing1.h5 filter=lfs diff=lfs merge=lfs -text
test_data/frequency1.h5 filter=lfs diff=lfs merge=lfs -text
test_data/identification2b.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase_out1.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase_out3.h5 filter=lfs diff=lfs merge=lfs -text
test_data/time3.h5 filter=lfs diff=lfs merge=lfs -text
test_data/frequency1_out.h5 filter=lfs diff=lfs merge=lfs -text
test_data/identification9.h5 filter=lfs diff=lfs merge=lfs -text
test_data/nan1.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase2.h5 filter=lfs diff=lfs merge=lfs -text
test_data/power_phase_out2.h5 filter=lfs diff=lfs merge=lfs -text
test_data/inconsistent_bands.h5 filter=lfs diff=lfs merge=lfs -text
